{% raw %}<ol class="list -numbered">
  {{#each items}}
  <li class="list-item">
    {{#if href}}
      {{#if data}}{{> atoms-link label=data }}{{else}}{{> atoms-link }}{{/if}}
    {{else if data}}
      {{#if markdown}}{{{markdown data}}}{{else}}{{data}}{{/if}}
    {{else}}
      {{this}}
    {{/if}}
    {{#if items}}{{#unless (eq sublist 'bulleted')}}{{> atoms-list-numbered items=items }}{{else}}{{> atoms-list-bulleted items=items }}{{/unless}}{{/if}}
  </li>
  {{/each}}
</ol>
{% endraw %}