<ul class="list -topics">
  {{#each topics}}
  <li class="list-item">{{#if href}}{{#if data}}{{> atoms-link label=data }}{{else}}{{> atoms-link }}{{/if}}{{else if data}}{{data}}{{else}}{{.}}{{/if}}</li>
  {{/each}}
</ul>
