{% raw %}<div class="input-field">
  <textarea class="input -text{{#if focus}} is-focused{{/if}}{{#if valid}} is-valid{{/if}}{{#if invalid}} is-invalid{{/if}}{{#if disabled}} is-disabled{{/if}}"{{#if disabled}} disabled{{/if}}
          id="{{id}}" placeholder="{{placeholder}}">{{#if value}}{{value}}{{/if}}</textarea>
  <label class="input-label" for="{{id}}">{{label}}</label>
</div>
{% endraw %}